.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
}
.wrapper .header {
  height: 908px;
  background-image: url(../../Assets/Images/Main/start-screen-gradient-background.png), url(../../Assets/Images/menu/start-screen-background.jpg);
  padding: 0 40px 0;
}
.wrapper .header .menu {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.wrapper .header .menu .logo {
  width: 14.38vw;
}
.wrapper .header .menu .logo .title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: #F1CDB3;
}
.wrapper .header .menu .logo .subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
.wrapper .header .menu .nav {
  width: 33.05vw;
  padding-top: 1.33vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper .header .menu .nav a {
  display: inline-block;
  padding: 0.78vw;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}
.wrapper .header .menu .nav a:hover {
  text-decoration: underline;
  color: #F1CDB3;
}
.wrapper .header .makeAfriend {
  padding: 4.69vw 0 0 0;
  width: 100%;
  height: 728px;
  background-image: url(../../Assets/Images/Main/start-screen-puppy.png);
  background-repeat: no-repeat;
  background-position: center right;
}
.wrapper .header .makeAfriend .makeAfriend_info {
  width: 36.09vw;
  height: 322px;
  margin-top: 163px;
}
.wrapper .header .makeAfriend .makeAfriend_info h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 57.2px;
  color: #ffffff;
}
.wrapper .header .makeAfriend .makeAfriend_info p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
  padding-bottom: 3.28vw;
}
.wrapper .header .makeAfriend .makeAfriend_info .makeAfriend_button {
  width: 16.25vw;
  height: 3.25rem;
  background-color: #F1CDB3;
  border-radius: 100px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
}
.wrapper .aboutUs {
  display: flex;
  justify-content: space-between;
  margin-top: 6.25vw;
  height: 588px;
}
.wrapper .aboutUs img {
  margin-left: 11.72vw;
  margin-right: 9.77vw;
}
.wrapper .aboutUs .aboutUs_info {
  margin-right: 13.28vw;
}
.wrapper .aboutUs .aboutUs_info h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: #545454;
}
.wrapper .aboutUs .aboutUs_info p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}
.wrapper .ourFriends {
  background-color: #E5E5E5;
  height: 877px;
}
.wrapper .ourFriends h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: #545454;
  text-align: center;
  margin-top: 100px;
  padding-top: 80px;
}
.wrapper .ourFriends .ourFriends__pets {
  display: flex;
  justify-content: space-evenly;
}
.wrapper .ourFriends .ourFriends__pets img {
  width: 270px;
  height: 270px;
}
.wrapper .ourFriends .ourFriends__pets .ourFriends__pets__Katrine {
  background-color: #FAFAFA;
  height: 435px;
  padding-bottom: 30px;
}
.wrapper .ourFriends .ourFriends__pets .ourFriends__pets__Katrine h2 {
  text-align: center;
  color: #545454;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22.72px;
  letter-spacing: 6%;
  margin-top: 30px;
}
.wrapper .ourFriends .ourFriends__pets .ourFriends__pets__Katrine button {
  margin-left: 35%;
  width: 14.61vw;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 22.72px;
  letter-spacing: 6%;
  text-align: center;
  color: #292929;
  margin-left: 13%;
  margin-top: 30px;
}
.wrapper .ourFriends .ourFriends__pets .ourFriends__pets__Jenifer {
  background-color: #FAFAFA;
  height: 435px;
  padding-bottom: 30px;
}
.wrapper .ourFriends .ourFriends__pets .ourFriends__pets__Jenifer h2 {
  text-align: center;
  color: #545454;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22.72px;
  letter-spacing: 6%;
  margin-top: 30px;
}
.wrapper .ourFriends .ourFriends__pets .ourFriends__pets__Jenifer button {
  margin-left: 35%;
  width: 14.61vw;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 22.72px;
  letter-spacing: 6%;
  text-align: center;
  color: #292929;
  margin-left: 13%;
  margin-top: 30px;
}
.wrapper .ourFriends .ourFriends__pets .ourFriends__pets__Woody {
  background-color: #FAFAFA;
  height: 435px;
  padding-bottom: 30px;
}
.wrapper .ourFriends .ourFriends__pets .ourFriends__pets__Woody h2 {
  text-align: center;
  color: #545454;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22.72px;
  letter-spacing: 6%;
  margin-top: 30px;
}
.wrapper .ourFriends .ourFriends__pets .ourFriends__pets__Woody button {
  margin-left: 35%;
  width: 14.61vw;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 22.72px;
  letter-spacing: 6%;
  text-align: center;
  color: #292929;
  margin-left: 13%;
  margin-top: 30px;
}
.wrapper .ourFriends .ourFriends__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.39vw;
  height: 52px;
  background-color: #F1CDB3;
  border-radius: 100px;
  margin: 60px 36.72vw 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22.1px;
  letter-spacing: 6%;
}
.wrapper .help {
  height: 611px;
}
.wrapper .help h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: #545454;
  margin-top: 80px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
