* a {
  text-decoration: none;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
}
.wrapper .header {
  height: 908px;
  background-image: url(../../Assets/Images/Main/start-screen-gradient-background.png), url(../../Assets/Images/menu/start-screen-background.jpg);
  padding: 0 40px 0;
}
.wrapper .header .menu {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.wrapper .header .menu .logo {
  width: 14.38vw;
}
.wrapper .header .menu .logo .title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: #F1CDB3;
}
.wrapper .header .menu .logo .subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
.wrapper .header .menu .nav {
  width: 33.05vw;
  padding-top: 1.33vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper .header .menu .nav .active {
  color: #F1CDB3;
}
.wrapper .header .menu .nav a {
  display: inline-block;
  padding: 0.78vw;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}
.wrapper .header .menu .nav a:hover {
  text-decoration: underline;
  color: #F1CDB3;
}
.wrapper .header .makefriend {
  padding: 4.69vw 0 0 0;
  width: 100%;
  height: 728px;
  background-image: url(../../Assets/Images/Main/start-screen-puppy.png);
  background-repeat: no-repeat;
  background-position: center right;
}
.wrapper .header .makefriend .makefriend_info {
  width: 36.09vw;
  height: 322px;
  margin-top: 163px;
}
.wrapper .header .makefriend .makefriend_info h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 57.2px;
  color: #ffffff;
}
.wrapper .header .makefriend .makefriend_info p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
  padding-bottom: 3.28vw;
}
.wrapper .header .makefriend .makefriend_info .makefriend_button {
  width: 16.25vw;
  height: 3.25rem;
  background-color: #F1CDB3;
  border-radius: 100px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
}
.wrapper .header .makefriend .makefriend_info .makefriend_button a {
  color: #292929;
}
.wrapper .header .makefriend .makefriend_info .makefriend_button:hover {
  background-color: #545454;
}
.wrapper .aboutUs {
  display: flex;
  justify-content: space-between;
  margin-top: 6.25vw;
  height: 588px;
}
.wrapper .aboutUs img {
  margin-left: 11.72vw;
  margin-right: 9.77vw;
}
.wrapper .aboutUs .aboutUs_info {
  margin-right: 13.28vw;
}
.wrapper .aboutUs .aboutUs_info h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: #545454;
}
.wrapper .aboutUs .aboutUs_info p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}
.wrapper .ourPets {
  background-color: #E5E5E5;
  height: 877px;
}
.wrapper .ourPets h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: #545454;
  text-align: center;
  margin-top: 100px;
  padding-top: 80px;
}
.wrapper .ourPets .ourPets__pets {
  display: flex;
  justify-content: space-evenly;
}
.wrapper .ourPets .ourPets__pets .right, .wrapper .ourPets .ourPets__pets .left {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  border: 2px solid #F1CDB3;
  align-self: center;
}
.wrapper .ourPets .ourPets__pets .right:hover, .wrapper .ourPets .ourPets__pets .left:hover {
  border: 2px solid #292929;
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Katrine img, .wrapper .ourPets .ourPets__pets .ourPets__pets__Jenifer img, .wrapper .ourPets .ourPets__pets .ourPets__pets__Woody img {
  width: 270px;
  height: 270px;
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Katrine {
  background-color: #FAFAFA;
  height: 435px;
  padding-bottom: 30px;
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Katrine:hover {
  transform: scale(1.2);
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Katrine:hover button {
  background-color: #545454;
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Katrine h2 {
  text-align: center;
  color: #545454;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22.72px;
  letter-spacing: 6%;
  margin-top: 30px;
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Katrine button {
  margin-left: 35%;
  width: 14.61vw;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 22.72px;
  letter-spacing: 6%;
  text-align: center;
  color: #292929;
  margin-left: 13%;
  margin-top: 30px;
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Katrine button:hover {
  border: 2px solid #292929;
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Jenifer {
  background-color: #FAFAFA;
  height: 435px;
  padding-bottom: 30px;
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Jenifer:hover {
  transform: scale(1.2);
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Jenifer:hover button {
  background-color: #545454;
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Jenifer h2 {
  text-align: center;
  color: #545454;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22.72px;
  letter-spacing: 6%;
  margin-top: 30px;
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Jenifer button {
  margin-left: 35%;
  width: 14.61vw;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 22.72px;
  letter-spacing: 6%;
  text-align: center;
  color: #292929;
  margin-left: 13%;
  margin-top: 30px;
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Jenifer button:hover {
  border: 2px solid #292929;
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Woody {
  background-color: #FAFAFA;
  height: 435px;
  padding-bottom: 30px;
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Woody:hover {
  transform: scale(1.2);
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Woody:hover button {
  background-color: #545454;
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Woody h2 {
  text-align: center;
  color: #545454;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22.72px;
  letter-spacing: 6%;
  margin-top: 30px;
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Woody button {
  margin-left: 35%;
  width: 14.61vw;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 22.72px;
  letter-spacing: 6%;
  text-align: center;
  margin-left: 13%;
  margin-top: 30px;
  color: #292929;
}
.wrapper .ourPets .ourPets__pets .ourPets__pets__Woody button:hover {
  border: 2px solid #292929;
}
.wrapper .ourPets .ourPets__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.39vw;
  height: 52px;
  background-color: #F1CDB3;
  border-radius: 100px;
  margin: 60px 36.72vw 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22.1px;
  letter-spacing: 6%;
}
.wrapper .ourPets .ourPets__button a {
  color: #292929;
}
.wrapper .ourPets .ourPets__button:hover {
  background-color: #ffffff;
}
.wrapper .help {
  height: 611px;
  margin-bottom: -20px;
}
.wrapper .help h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: #545454;
  margin-top: 80px;
  text-align: center;
}
.wrapper .help .help__info {
  width: 80.16vw;
  height: 281px;
  display: flex;
  flex-direction: column;
  margin: 60px 6.8vw auto;
}
.wrapper .help .help__info .help__info__first-line {
  display: flex;
  justify-content: space-between;
}
.wrapper .help .help__info .help__info__first-line div {
  flex-direction: column;
  height: 113px;
  text-align: center;
}
.wrapper .help .help__info .help__info__second-line {
  display: flex;
  justify-content: space-around;
  margin-top: 55px;
}
.wrapper .help .help__info .help__info__second-line div {
  flex-direction: column;
  height: 113px;
  text-align: center;
}
.wrapper .donation {
  background-color: #f6f6f6;
  height: 462px;
  display: flex;
  justify-content: center;
  padding: 91px 12.73vw 100px;
}
.wrapper .donation .donation__img {
  width: 39.45vw;
  height: 261px;
  margin-right: 30px;
  margin-top: 50px;
}
.wrapper .donation .donation__info {
  width: 39.45vw;
  height: 261;
  margin: 20px;
}
.wrapper .donation .donation__info h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: #545454;
}
.wrapper .donation .donation__info .donation__info__banks {
  color: #545454;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 6%;
}
.wrapper .donation .donation__info .donation__info__button {
  width: 27.27vw;
  height: 43px;
  border-radius: 9px;
  background-color: #F1CDB3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22.72px;
  letter-spacing: 6%;
}
.wrapper .donation .donation__info .donation__info__button a {
  color: #545454;
}
.wrapper .donation .donation__info .donation__info__contant {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}
.wrapper .footer {
  height: 350px;
  background-image: url(../../Assets/Images/Main/footer-background.png);
  padding: 40px 40px 0;
  display: flex;
  justify-content: space-evenly;
}
.wrapper .footer h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: #ffffff;
}
.wrapper .footer a {
  text-decoration: none;
  color: #F1CDB3;
}
.wrapper .footer .email, .wrapper .footer .phone, .wrapper .footer .map {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*# sourceMappingURL=style.css.map */
