$padding-for-all: 0 40px 0;
$color-dark-3xl: #292929;
$color-dark-xl: #4C4C4C;
$color-dark-i: #545454;
$color-light-l: #f6f6f6;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-light-xl: #ffffff;
$color-light-s: #FAFAFA;
$color-primary: #F1CDB3;


@mixin Georgia-s() {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22.72px;
    letter-spacing: 6%;

}

@mixin Georgia-l() {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 6%;

}

@mixin Georgia-xl() {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 6%;


}

;

@mixin Arial() {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;


}


*a{text-decoration: none;}
.wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;



    .header {
        height: 908px;
        background-image: url(../../Assets/Images/Main/start-screen-gradient-background.png), url(../../Assets/Images/menu/start-screen-background.jpg);
        padding: $padding-for-all;


        .menu {
            padding-top: 60px;
            display: flex;
            justify-content: space-between;

            .logo {

                width: 14.38vw;

                .title {
                    @include Georgia-xl();
                    color: $color-primary;
                }

                .subtitle {
                    @include Arial();
                    color: $color-light-xl;
                    text-align: center;

                }
            }

            .nav {
                width: 33.05vw;
                padding-top: 1.33vw;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                .active{
                    color:$color-primary
                }

                a {
                    display: inline-block;
                    padding: 0.78vw;
                    text-decoration: none;
                    @include Arial();
                    color: $color-dark-s;


                }

                a:hover {
                    text-decoration: underline;
                    color: $color-primary;

                }

            }
        }

        .makefriend {
            padding: 4.69vw 0 0 0;
            width: 100%;
            height: 728px;
            background-image: url(../../Assets/Images/Main/start-screen-puppy.png);
            background-repeat: no-repeat;
            background-position: center right;



            .makefriend_info {
                width: 36.09vw;
                height: 322px;
                margin-top: 163px;


                h1 {
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-weight: 400;
                    font-size: 44px;
                    line-height: 57.2px;
                    color: $color-light-xl;

                }

                p {
                    @include Arial();
                    color: $color-dark-s;
                    padding-bottom: 3.28vw;
                }

                .makefriend_button {
                    width: 16.25vw;
                    height: 3.25rem;
                    background-color: $color-primary;
                    border-radius: 100px;
                    text-align: center;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 130%;
                    
                        a{
                            color: #292929;
                        }

                }

                .makefriend_button:hover{
                    background-color: $color-dark-i;
                }


            }

        }


    }


    .aboutUs {
        display: flex;
        justify-content: space-between;
        margin-top: 6.25vw;
        height: 588px;

        & img {
            margin-left: 11.72vw;
            margin-right: 9.77vw;
        }

        .aboutUs_info {
            margin-right: 13.28vw;

            & h3 {
                @include Georgia-xl();
                color: $color-dark-i;
            }

            & p {
                @include Arial();
                color: $color-dark-xl;
            }
        }
    }

    .ourPets {
        background-color: #E5E5E5;
        height: 877px;


        & h3 {
            @include Georgia-xl();
            color: $color-dark-i;
            text-align: center;
            margin-top: 100px;
            padding-top: 80px;
        }

        .ourPets__pets {
            display: flex;
            justify-content: space-evenly;

            .right, .left {
                width: 52px;
                height: 52px;
                border-radius: 100%;
                border: 2px solid $color-primary;
                align-self: center;


                &:hover{
                    border: 2px solid $color-dark-3xl;
                }

                
            }
            .ourPets__pets__Katrine img, .ourPets__pets__Jenifer img, .ourPets__pets__Woody img {
                width: 270px;
                height: 270px;

            }

           

            .ourPets__pets__Katrine {
                background-color: $color-light-s;
                height: 435px;
                padding-bottom: 30px;

                &:hover {
                    transform: scale(1.2);
                }

                &:hover button{
                    background-color: $color-dark-i;
                }

                h2 {
                    text-align: center;
                    color: $color-dark-i;
                    @include Georgia-s();
                    margin-top: 30px;
                }

                button {
                    margin-left: 35%;
                    width: 14.61vw;
                    height: 52px;
                    border-radius: 100px;
                    border: 2px solid #F1CDB3;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-size: 17px;
                    line-height: 22.72px;
                    letter-spacing: 6%;
                    text-align: center;
                    color: $color-dark-3xl;
                    margin-left: 13%;
                    margin-top: 30px;

                    &:hover{
                        border: 2px solid $color-dark-3xl;
                    }
                }
            }

            .ourPets__pets__Jenifer {
                background-color: $color-light-s;
                height: 435px;
                padding-bottom: 30px;

                &:hover {
                    transform: scale(1.2);
                }

                &:hover button{
                    background-color: $color-dark-i;
                }

                h2 {
                    text-align: center;
                    color: $color-dark-i;
                    @include Georgia-s();
                    margin-top: 30px;
                }

                button {
                    margin-left: 35%;
                    width: 14.61vw;
                    height: 52px;
                    border-radius: 100px;
                    border: 2px solid #F1CDB3;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-size: 17px;
                    line-height: 22.72px;
                    letter-spacing: 6%;
                    text-align: center;
                    color: $color-dark-3xl;
                    margin-left: 13%;
                    margin-top: 30px;

                    &:hover{
                        border: 2px solid $color-dark-3xl;
                    }
                }

            }

            .ourPets__pets__Woody {
                background-color: $color-light-s;
                height: 435px;
                padding-bottom: 30px;


                &:hover {
                    transform: scale(1.2);
                }

                &:hover button{
                    background-color: $color-dark-i;
                }

                



                h2 {
                    text-align: center;
                    color: $color-dark-i;
                    @include Georgia-s();
                    margin-top: 30px;
                }

                button {
                    margin-left: 35%;
                    width: 14.61vw;
                    height: 52px;
                    border-radius: 100px;
                    border: 2px solid #F1CDB3;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-size: 17px;
                    line-height: 22.72px;
                    letter-spacing: 6%;
                    text-align: center;
                    margin-left: 13%;
                    margin-top: 30px;
                    color: $color-dark-3xl;

                    &:hover{
                        border: 2px solid $color-dark-3xl;
                    }

                    

                    

                }


            }


        }

        .ourPets__button{
            display: flex; align-items: center; justify-content: center;
            width: 20.39vw;
            height: 52px;
            background-color: $color-primary;
            border-radius: 100px;
            margin: 60px 36.72vw 100px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 17px;
            font-weight: 400;
            line-height: 22.1px;
            letter-spacing: 6%;


            a{
                color: $color-dark-3xl;
            }


            
        }

        .ourPets__button:hover{
            background-color: $color-light-xl;
        }



    }

    .help{
        height: 611px;
        margin-bottom: -20px;

        h3{
            @include Georgia-xl();
            color: $color-dark-i;
            margin-top: 80px;
            text-align: center;
            
        }

        .help__info{
            width: 80.16vw;
            height: 281px;
            display: flex; flex-direction: column;
            margin: 60px 6.80vw auto;


            


            .help__info__first-line{
                display: flex; justify-content: space-between;

                 & div{
                     flex-direction: column;
                     height: 113px;
                     text-align: center;
                 }
            }


            .help__info__second-line{
                display: flex; justify-content: space-around;
                margin-top: 55px;

                & div{
                    flex-direction: column;
                    height: 113px;
                    text-align: center;
                }
            }
            
            

            
        }
    }

    .donation{
        background-color: $color-light-l;
        height: 462px;
        display: flex; justify-content: center;
        padding: 91px 12.73vw 100px;
        

        .donation__img{
            width: 39.45vw;
            height: 261px;
            margin-right: 30px;
            margin-top: 50px;
        }

        .donation__info{
            width: 39.45vw;
            height: 261;
            margin: 20px;


            h3{
                @include Georgia-xl();
                color: $color-dark-i;
            }


            .donation__info__banks{
                color: $color-dark-i;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: 400;
                font-size: 15px;
                line-height: 16.5px;
                letter-spacing: 6%;

            }


            .donation__info__button{
                width: 27.27vw;
                height: 43px;
                border-radius: 9px;
                background-color: $color-primary;
                display: flex; justify-content: space-evenly; align-items: center;
                @include Georgia-s();


                a{
                    color: $color-dark-i;
                }
            }


            .donation__info__contant{
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 400;
                font-style: italic;
                font-size: 12px;
                line-height: 18px;
                color: $color-dark-m;

            }
        }


    }


    .footer{
        height: 350px;
        background-image: url(../../Assets/Images/Main/footer-background.png);
        padding: 40px 40px 0;
        display: flex; justify-content: space-evenly;

        h3{
            @include Georgia-xl();
            color: $color-light-xl;
        
        }


        a{
            text-decoration: none;
            color: $color-primary;

        }


        .email, .phone, .map{
            display: flex; align-items: center; justify-content: space-evenly;
        }
    }

}