$padding-for-all: 0 40px 0;
$color-dark-3xl: #292929;
$color-dark-xl: #4C4C4C;
$color-dark-i: #545454;
$color-light-l: #f6f6f6;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-light-xl: #ffffff;
$color-light-s: #FAFAFA;
$color-primary: #F1CDB3;




@mixin Georgia-xs() {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 6%;

}

@mixin Georgia-s() {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22.72px;
    letter-spacing: 6%;

}

@mixin Georgia-l() {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 6%;

}

@mixin Georgia-m() {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 6%;


}

@mixin Georgia-xl() {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 6%;


}



@mixin Arial-xs() {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
    letter-spacing: 10%;

}

@mixin Arial-s() {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;


}

@mixin info {
    background-color: $color-light-s;
    width: 21.09vw;
    height: 435px;
    padding-bottom: 30px;

    &:hover {
        transform: scale(1.2);
    }

    &:hover button {
        background-color: $color-dark-i;
    }

    h2 {
        text-align: center;
        color: $color-dark-i;
        @include Georgia-s();
        margin-top: 30px;
    }

    button {
        margin-left: 35%;
        width: 14.61vw;
        height: 52px;
        border-radius: 100px;
        border: 2px solid #F1CDB3;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 17px;
        line-height: 22.72px;
        letter-spacing: 6%;
        text-align: center;
        color: $color-dark-3xl;
        margin-left: 13%;
        margin-top: 30px;

        &:hover {
            border: 2px solid $color-dark-3xl;
        }
    }
}