
@import 'vars';
@import 'breakpoints';






*a {
    text-decoration: none
}

;

.wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;



    .header {
        height: 120px;
        background-color: $color-light-xl;

        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            @include Georgia-m();

            a {
                color: $color-dark-i;
            }
        }

        .nav {
            @include Arial-s();
            width: 34.61vw;
            display: flex;
            justify-content: space-between;

            a {
                color: $color-dark-i

                
            }

            a:hover{
                text-decoration: underline;
                color: $color-primary;
            }

            .active{
                color:$color-primary
            }
        }

        .subtitle {
            @include Arial-xs();
            color: $color-dark-3xl;

        }

        




    }

    .ourFriends {
        height: 1342px;
        background-color: $color-light-l;
        padding-top: 80px;



        img {
            width: 270px;
            height: 270px;
        }

        h3 {
            @include Georgia-xl();
            color: $color-dark-i;
            margin-bottom: 60px;
            text-align: center;
        }

        .ourFriends__pets__first,
        .ourFriends__pets__second {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }

        .ourFriends__pets__Katrine,
        .ourFriends__pets__Jennifer,
        .ourFriends__pets__Woody,
        .ourFriends__pets__Sophia,
        .ourFriends__pets__Timmy,
        .ourFriends__pets__Freddy,
        .ourFriends__pets__Charly,
        .ourFriends__pets__Scarlet {
            @include info();
            border: 1px solid black;




        }


    }

    .wrapper__buttons {
        display: flex;
        justify-content: center;
       

        .buttons {
            margin-top: 45px;
            position: absolute;
            width: 26.56vw;
            height: 52px;
            display: flex;
            justify-content: space-between;

            button {
                width: 4.06vw;
                height: 52px;
                border-radius: 100px;
                border: 1px solid $color-primary;
                @include Georgia-l();

                &:hover{
                    border: 1px solid $color-light-xl;
                }

            }

            .page {
                width: 4.06vw;
                height: 52px;
                border-radius: 100px;
                background-color: $color-primary;
                @include Georgia-l();

            }
        }
    }

    .footer{
        height: 350px;
        background-image: url(../../Assets/Images/Main/footer-background.png);
        padding: 40px 40px 0;
        display: flex; justify-content: space-evenly;
        

        h3{
            @include Georgia-xl();
            color: $color-light-xl;
        
        }


        a{
            text-decoration: none;
            color: $color-primary;

        }


        .email, .phone, .map{
            display: flex; align-items: center; justify-content: space-evenly;
        }
    }

}